/*** BootStrap Overwrites ****/

.thumbnail{
    position: relative;
}

/*******************************/

body {
    margin-top: 60px;
    background: url("images/marketBlur.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.edit_pencil_product{
    position: absolute;
    right: 10px;
    top: 10px;
}
.edit_pencil{
    position: absolute;
    right: 4px;
    top: 4px;

}