<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Piete in Timisoara</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="#/market/{{ market.id }}"
               class="list-group-item"
               ng-repeat="market in markets"
               ng-class="{active: isActive(market.id)}">{{ market.name }}</a>
        </div>
    </div>
    <div ng-show="activeMarket" class="panel panel-default">
        <div class="panel-body">
            <!--Badea Cartan, Adresa: Str. Badea Cartan nr 100<br>-->
            {{ activeMarket }}<br><br>
            <div class="col-md-12">
                <a href="#" class="thumbnail">
                    <img id="static_map" data-src="" src="" alt="...">
                </a>
            </div>
        </div>
    </div>
</div>