<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Piete in Timisoara</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="#/market/{{ market.id }}"
               class="list-group-item"
               ng-repeat="market in markets"
               ng-class="{active: isActive(market.id)}">{{ market.name }}</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            Badea Cartan, Adresa: Str. Badea Cartan nr 100<br>

            <div class="col-md-12">
                <a href="#" class="thumbnail">
                    <img id="static_map" data-src="" src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=250x180&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794" alt="...">
                </a>
            </div>
        </div>
    </div>
</div>