<div class="row" style="margin-top: 30px;">
    <div class="col-md-4">
        <sidemenu></sidemenu>
    </div>

    <div class="col-md-8 well">

        <div>
            <img src="style/images/logo1.png" alt="" class="img-responsive"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur atque consequuntur debitis doloribus eligendi eveniet facere incidunt inventore nam nisi pariatur reprehenderit sit tempore, totam veniam veritatis. Enim, nesciunt?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur atque consequuntur debitis doloribus eligendi eveniet facere incidunt inventore nam nisi pariatur reprehenderit sit tempore, totam veniam veritatis. Enim, nesciunt?</p>
        </div>
    </div>
</div>
<modals></modals>
