<div class="row" style="margin-top: 30px;">
<div class="col-md-4">
    <sidemenu></sidemenu>
</div>

<div class="col-md-8">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-4"><h5>Produse disponibile</h5></div>
        <div class="col-md-4">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                        <input class="form-control" type="search" placeholder="Filtrare produse">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 ">
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addproduct_modal">
                <span class="glyphicon glyphicon-plus"></span> Adauga produs
            </button>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img data-src="http://placehold.it/300x300" src="http://placehold.it/300x300"  alt="...">
                        <div class="caption">
                            <h5>Pret mediu: 4.33 RON</h5>
                            <p>Mere Golden</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img data-src="http://placehold.it/300x300" src="http://placehold.it/300x300"  alt="...">
                        <div class="caption">
                            <h5>Pret mediu: 4.33 RON</h5>
                            <p>Mere Golden</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img data-src="http://placehold.it/300x300" src="http://placehold.it/300x300"  alt="...">
                        <div class="caption">
                            <h5>Pret mediu: 4.33 RON</h5>
                            <p>Mere Golden</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img data-src="http://placehold.it/300x300" src="http://placehold.it/300x300"  alt="...">
                        <div class="caption">
                            <h5>Pret mediu: 4.33 RON</h5>
                            <p>Mere Golden</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img data-src="http://placehold.it/300x300" src="http://placehold.it/300x300"  alt="...">
                        <div class="caption">
                            <h5>Pret mediu: 4.33 RON</h5>
                            <p>Mere Golden</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img data-src="http://placehold.it/300x300" src="http://placehold.it/300x300"  alt="...">
                        <div class="caption">
                            <h5>Pret mediu: 4.33 RON</h5>
                            <p>Mere Golden</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Modals for signup, login, add product-->
<div class="modal fade" id="signup_modal" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Inchide</span></button>
                <h4 class="modal-title" id="signupLabel">Inregistrare</h4>
            </div>
            <div class="modal-body">
                <form class="form" role="form">
                    <div class="form-group">
                        <label class="control-label" for="nume_prenume">Nume si Prenume</label>
                        <input type="text" class="form-control" id="nume_prenume">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="pass1">Parola</label>
                        <input type="password" class="form-control" id="pass1">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="pass2">Repeta parola</label>
                        <input type="password" class="form-control" id="pass2">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Renunta</button>
                <button type="button" class="btn btn-success">Salveaza</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signin_modal" tabindex="-1" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Inchide</span></button>
                <h4 class="modal-title" id="signinLabel">Login</h4>
            </div>
            <div class="modal-body">
                <form class="form" role="form">
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email_login">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="pass1">Parola</label>
                        <input type="password" class="form-control" id="pass_login">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Renunta</button>
                <button type="button" class="btn btn-success">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addproduct_modal" tabindex="-1" role="dialog" aria-labelledby="addproductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Inchide</span></button>
                <h4 class="modal-title" id="addproductLabel">Adauga produs nou:</h4>
            </div>
            <div class="modal-body">
                <form class="form" role="form">
                    <div class="form-group">
                        <label class="control-label" for="nume_produs">Nume produs</label>
                        <input type="text" class="form-control" id="nume_produs">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="what_market">In care piata</label>
                        <select class="form-control" id="what_market">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="description">Descriere</label>
                        <textarea class="form-control" rows="3" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="price">Pret</label>
                        <input type="text" class="form-control" id="price">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="product_image_upload">Imagine</label>
                        <input type="image" class="form-control" id="product_image_upload">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="origin">Origine produs</label>
                        <input type="text" class="form-control" id="origin">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Renunta</button>
                <button type="button" class="btn btn-success">Salveaza</button>
            </div>
        </div>
    </div>
</div>
</div>