<div class="row">
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Timisoara</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        Badea Cartan
                    </a>
                    <a href="#" class="list-group-item">Iosefin</a>
                    <a href="#" class="list-group-item">Dacia</a>
                    <a href="#" class="list-group-item">Dacia</a>
                    <a href="#" class="list-group-item">Dacia</a>
                    <a href="#" class="list-group-item">Dacia</a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4"><h5>Produse disponibile</h5></div>
            <div class="col-md-4">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                            <input class="form-control" type="search" placeholder="Cautare rapida">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Adauga produs
                </button>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>