<div class="row">
    <div class="col-md-4">
        <sidemenu></sidemenu>
    </div>

    <div class="col-md-8">
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-4">
                <h2 id="product_title">Mere Golden</h2>
            </div>
            <div class="col-md-4 pull-right">
                <button type="button" class="btn btn-primary btn-lg pull-right"><span class="glyphicon glyphicon-plus"></span> Adauga pret</button>
            </div>
        </div>


        <div class="well well-lg">
            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img data-src="http://placehold.it/100x100" src="http://placehold.it/100x100" alt="...">
                        <div class="caption">
                            <h5>Nume Utilizator</h5>
                            <p>Pret adaugat: 3.5 RON</p>
                            <p>
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group btn-group-sm">
                                    <a href="#" class="btn btn-sm btn-success tipped" role="button" data-toggle="tooltip" data-placement="top" title="Pretul e corect!"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                                </div>
                                <div class="btn-group btn-group-sm">
                                    <a href="#" class="btn btn-sm btn-danger tipped" role="button" data-toggle="tooltip" data-placement="top" title="Nu sunt de acord!"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

