<div class="well well-lg">
    <form class="form" role="form">
        <div class="form-group">
            <label class="control-label" for="nume_prenume">Nume si Prenume</label>
            <input type="text" class="form-control" id="nume_prenume" placeholder="(Nume salvat)">
        </div>
        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="(saved email)">
        </div>
        <div class="form-group">
            <label class="control-label" for="pass1"> Schimba parola</label>
            <input type="password" class="form-control" id="pass1">
        </div>
        <div class="form-group">
            <label class="control-label" for="pass2">Repeta noua parola</label>
            <input type="password" class="form-control" id="pass2">
        </div>
    </form>

    <div class="row">
        <button type="button" class="btn btn-info" data-dismiss="modal">Inapoi</button>
        <button type="button" class="btn btn-success pull-right">Salveaza</button>
    </div>
</div>
